.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.jumbotron {
  text-align: center;
}

.jumbotron,
.dropdown button.btn.btn-secondary,
.dropdown button.btn.btn-secondary:active:focus,
.dropdown.show button.btn.btn-secondary {
  background-color: #335441;
}

.jumbotron h1,
.jumbotron p {
  color: white;
}

.dropdown {
  display: inline;
  margin-right: 5px;
}

.container {
  margin-bottom: 32px;
}